<section class="review-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titie-section wow fadeInDown animated ">
          <h1>customer review</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="feedback" class="carousel slide feedback" data-ride="feedback">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag 'member1.png' %>
            <div class="carousel-caption">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
              <h3>- Olivia -</h3>
              <span>Melbour, Aus</span>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'member2.png' %>
            <div class="carousel-caption">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
              <h3>- Olivia -</h3>
              <span>Melbour, Aus</span>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'member3.png' %>
            <div class="carousel-caption">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
              <h3>- Olivia -</h3>
              <span>Melbour, Aus</span>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'member4.png' %>
            <div class="carousel-caption">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
              <h3>- Olivia -</h3>
              <span>Melbour, Aus</span>
            </div>
          </div>
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators review-controlar">
          <li data-target="#feedback" data-slide-to="0" class="active">
            <%= image_tag 'member1.png' %>
          </li>
          <li data-target="#feedback" data-slide-to="1">
            <%= image_tag 'member2.png' %>
          </li>
          <li data-target="#feedback" data-slide-to="2">
            <%= image_tag 'member3.png' %>
          </li>
          <li data-target="#feedback" data-slide-to="3">
            <%= image_tag 'member4.png' %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>