<section class="client-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="titie-section wow fadeInDown animated ">
          <h1>our partner</h1>
        </div>
      </div>
    </div>
    <div id="client" class="row owl-carousel owl-theme client-area">
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_01.jpg' %>
        </a>
      </div>
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_02.jpg' %>
        </a>
      </div>
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_03.jpg' %>
        </a>
      </div>
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_04.jpg' %>
        </a>
      </div>
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_01.jpg' %>
        </a>
      </div>
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_02.jpg' %>
        </a>
      </div>
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_03.jpg' %>
        </a>
      </div>
      <div class="col-md-12 item">
        <a href="#">
          <%= image_tag 'client_04.jpg' %>
        </a>
      </div>
    </div>
    <div class="customNavigation works-navigation">
      <a class="btn-work works-prev"><i class="pe-7s-angle-left"></i></a>
      <a class="btn-work works-next"><i class="pe-7s-angle-right"></i></a>
    </div><!-- end of /.client navigation -->
  </div>
</section>